<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_TimeZone:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_TimeZone_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC_TimeZone/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_TimeZone" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>